*{
  font-family: "Lato", sans-serif;

}

/* Exclusive products & Fashion Section & Featured products */
.exclusive-section, .fashion-section, .featured-products,.exclusive-items {
    padding: 20px;
  }
/* Fashion Section */
  .fashion-item {
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
}
  .main-text {
    font-size: 2.2rem;
    font-weight: 350;
    padding: 20px 15px;
    text-transform: uppercase;
}
.main-text2 {
   font-size: 2.2rem;
    font-weight: 350;
    padding: 20px 35px;
    text-transform: uppercase;
}
.subtext {
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 10px;
}

  .fashion-item a {
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 1.4rem;
    padding: 5px 35px;
    margin: 10px;
    text-decoration: underline;
    text-decoration-color: red;
    border-radius: 5px;
    display: inline-block;
  }
  .large-image {
    height: 100%;
    min-height: 400px; /* Ensures a minimum height for the large image */
  }
  .small-image {
    height: 300px; /* Sets a consistent height for smaller images */
  }
  /* Responsive Adjustments */
    @media (max-width: 768px) {
    .large-image {
      min-height: 400px; /* Adjust the height for smaller screens */
    }
    .small-image {
      height: 560px; /* Reduce height for smaller screens */
    }
  }

  @media (max-width: 576px) {
    .large-image {
      min-height: 380px; /* Further reduce height for extra small screens */
    }
    .small-image {
      height: 380px; /* Further reduce height for extra small screens */
    }
  }
  /* Fashion Section End */

  /* Exclusive products */
   
   .fashion-item2 {
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
}
.large-image2 {
    height: 100%;
    min-height: 400px; 
  }
.product-item img {
     object-fit: cover;
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .large-image2 {
      min-height: 370px; /* Adjust for medium-large screens */
    }
  }
  
  @media (min-width: 1200px) and (max-width: 1400px) {
    .large-image2 {
      min-height: 415px; /* Adjust for large screens */
    }
  }
  @media (min-width: 1400px) {
    .large-image2 {
      min-height: 450px; /* Adjust for large screens */
    }
  }
  @media (max-width: 500px) {
    .col-3 img{
        height: 60px !important;
    }
    .col-9{
        padding: 20px !important;
    }
    .col-9 p{
        margin-top: 18px !important;
    }
  }
  @media (max-width: 450px) {
    .col-3 img{
        height: 50px !important;
    }
  }
  @media (max-width: 350px) {
    .col-3 img{
        height: 40px !important;
    }
  }
  
  
 
/* Clothing Section CSS */
  .card {
    color: white;
    /* border: none;
    border-radius: 0; */
    height: 100%; 
    overflow: hidden; 
}
.card-img {
    object-fit: cover; 
}

/* Overlay styling */
.card-img-overlay {
    background: rgba(0, 0, 0, 0.4); 
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .card-img-overlay {
        padding: 10px;
    }
}
/* Exclusive items */
.fashion-item3,.fashion-item4 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
}
.large-image3 {
    height: 100%;
    min-height: 400px; 
    
  }
  .large-image4 {
    height: 100%;
    min-height: 200px;
   
  }
  
  @media (max-width: 576px) {
    .large-image3, .large-image4 {
        min-height: 200px; /* Adjust minimum height for very small screens */
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .large-image3, .large-image4 {
        min-height: 300px;
    }
}
@media (min-width: 768px) and (max-width: 992px) {
    .large-image3 {
        min-height: 350px;
    }
    .large-image4 {
        min-height: 250px;
    }
}
@media (min-width: 992px) {
    .large-image3 {
        min-height: 400px;
    }
    
}
/* Categories */
.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 10px;
  height: 200px; 
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.category-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%; 
  object-fit: cover;
  margin-bottom: 10px;
}
.category-card span {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.availability2 {
  background-color: #00a2ff;
  color: white;
  font-size: 12px;
  padding: 2px 8px;
  border-radius: 4px;
}
.row > .col {
  padding: 0.5rem;
}
 
/* Deal of the day */
.card-img-top {
  height: 200px; /* Adjust as needed */
  object-fit: cover;
}
.card-footer{
  background-color: #00a2ff;
}
.card-button{
  background-color: #0039a6;
  opacity: 0.8;
}
.card-column{
  background-color: #E0FFFF;
}
.card-height{
  height: 447px;
}
.col-height{
  height: 530px;
}


@media (min-width: 992px) and (max-width: 1200px) {
  .card-height{
    height: 544px;
  }
  .col-height{
    height: 620px;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  .card-height{
    height: 399px;
  }
  .col-height{
    height: 480px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .card-height{
    height: 424px;
  }
  .col-height{
    height: 500px;
  }
}
@media (max-width: 576px) {
  .card-height{
    height: 424px;
  }
  .col-height{
    height: 500px;
  }
}
@media (max-width: 400px) {
  .card-height{
    height: 447px;
  }
  .col-height{
    height: 520px;
  }
}
@media (max-width: 325px) {
  .card-height{
    height: 470px;
  }
  .col-height{
    height: 550px;
  }
}

@media (min-width: 1200px) and (max-width: 1401px) {
  .card-height {
    height: 495px;
  }
  .col-height {
    height: 570px;
  }
}


/* New arrival */
.product-card {
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.image-info {
  flex-basis: 40%;
  background-color: #f8f9fa;
  text-align: center;
}

.product-image {
  width: 100px;
  height: auto;
}

.availability {
  background-color: #00a2ff;
  font-size: 12px;
  text-align: center;
  border-radius: 4px;
}


.text-info {
  flex-basis: 60%;
  text-align: left;
}

.product-name {
  font-size: 13px;
  font-weight: 600;
  color: #333;
}

.rating .fa-star {
  color: #f9a825;
  font-size: 12px;
}

.old-price {
  color: #888;
  text-decoration: line-through;
  font-size: 14px;
}

.new-price {
  font-size: 14px;
  color: #333;
}


@media (min-width: 1400px) {
  .product-card {
    width: 300px;
    height: 100%;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .product-card {
    width: 280px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .product-card {
    width: 260px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .product-card {
    width: 280px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .product-card {
    width: 255px;
  }
  .product-image {
    width: 90px;
  }
}

@media (max-width: 575px) {
  .product-card {
    width: 100%;
  }
  .product-image {
    width: 80px;
  }
}    
/* New arrival end */

/* Brands */
.brand-card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.brand-card img {
  width: 60%;
  height: auto;
  object-fit: contain;
  border-radius: 50%; 
}

/* Top Seller */
.equal-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 240px; /* Adjust to fit content */
}

.card-img-top2 {
  height: 150px;
  object-fit: cover;
  width: 313px;
}

.card-body {
  flex-grow: 1;
}

.rounded-circle {
  border: 1px solid white;
}

@media (max-width: 768px) {
  .card-img-top {
    height: 120px;
  }

  .rounded-circle {
    width: 50px;
    height: 50px;
  }
}



/* Icons Items */
.icon {
  width: 50px;
  height: auto;
}

@media (min-width: 768px) {
  .icon {
    width: 60px;
  }
}
/* Icons Items end */

 /*Footer CSS  */
 .footer {
  background-color: #215f64;
  color: white;
  padding: 40px 0px 0px 0px;
}
.footer a  {
  color: ghostwhite;
  text-decoration: none;
}
.footer p {
 color: ghostwhite;
}
.footer a:hover {
  text-decoration: underline;
}
.footer-input-text{
  background-color: #3c6f75;
  border-radius: 5px 0 0 5px;
  border: none;  
}
.input-group input[type="email"]::placeholder {
  color: #b8c5c7; /* Placeholder text color */
}


.address-section hr {
  flex-grow: 1;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.8);
  margin: 0 10px;
}
.footer-bottom {
  background-color: #1a4d4f;
  padding: 10px 0;
  text-align: center;
}

